@font-face {
  font-family: "Inter-VariableFont";
  src: url("./fonts/inter/Inter-VariableFont.woff2") format("woff2");
  font-weight: 1 999;
  font-stretch: 1% 100%;
  font-style: normal;
}

:root {
  /* Color variables go here */
  --dark: #333;
  --gray: #6c757d;
  --light: #f8f9fa;
  --green: #081c15;

  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter-VariableFont;
}

h2 {
  font-size: 2rem;
  font-weight: 200;
  color: var(--green);
}
h3 {
  font-size: 1.5rem;
  font-weight: 300;
  color: var(--dark);
}
p {
  line-height: 2;
  color: var(--dark);
}
a {
  text-decoration: none;
  color: initial;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  height: 70px;
}

#logo h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--green);
}
#logo span {
  letter-spacing: 18px;
  text-transform: uppercase;
  color: var(--green);
}
/* Mobile menu styles */
header .checkbox {
  position: absolute;
  display: block;
  height: 26px;
  width: 32px;
  top: 27px;
  right: 40px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}
header .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 27px;
  right: 40px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
header .hamburger-lines .line {
  display: block;
  height: 1px;
  width: 100%;
  border-radius: 10px;
  background: var(--green);
}
header .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
header .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
header .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
header input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
header input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
header input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
/* ************************** */

/* Menu items style */
header .main-nav {
  transform: translateX(150%);
  transition: transform 0.5s ease-in-out;
}
header input[type="checkbox"]:checked ~ .main-nav {
  transform: translateX(0);
  text-align: center;
  padding-block: 40px;
  position: absolute;
  background-color: var(--light);
  top: 70px;
  width: calc(100% - 80px);
}

header .main-nav ul {
  display: none;
}
header input[type="checkbox"]:checked ~ .main-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 40px;
  font-size: 90%;
}

header .main-nav a {
  text-decoration: none;
  color: var(--dark);
  transition: color 300ms ease;
}
header .main-nav a:hover {
  color: var(--gray);
}

/* ********************************** */
/* HERO SECTION */
.hero-section {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 90%;
  margin: 0 auto;
}
.hero-section .hero-left {
  padding: 30px 0 60px 0;
}
.hero-section .hero-left h1 {
  font-size: 3rem;
  color: var(--green);
}
.hero-section .hero-left h2 {
  font-weight: 100;
  font-size: 3rem;
  margin-bottom: 20px;
  color: var(--dark);
}
.hero-section .hero-left p {
  font-weight: 400;
  line-height: 2;
  color: var(--dark);
  margin-bottom: 40px;
}
/* CTA section button is here as well */
.hero-section .hero-left a,
.cta a,
.newsletter .newsletter-left button,
footer .footer-left a {
  color: var(--dark);
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid var(--green);
  border-radius: 20px;
  transition: background-color 300ms ease;
}
.hero-section .hero-left a:hover,
.cta a:hover,
.newsletter .newsletter-left button:hover,
footer .footer-left a:hover {
  color: var(--light);
  background-color: var(--green);
}
.hero-section .hero-right img {
  max-width: 100%;
}

/* ********************************** */
/* SERVICES SECTION */
.services {
  padding-block: 60px;
  max-width: 95%;
  margin: 0 auto;
}
.services .service {
  text-align: center;
  margin-block: 40px;
}
.services h3 {
  padding-block: 15px;
}

/* ********************************** */
/* INNOVATIVE SECTION */
.innovation {
  height: 80vh;
  padding-inline: 20px;
  display: flex;
  align-items: center;
  background-image: url(./images/innovative-background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.innovation h2 {
  color: var(--green);
  background-color: var(--light);
  padding: 5px 10px;
  font-weight: 600;
}

/* ********************************** */
/* STATS SECTION */
.stats {
  display: flex;
  flex-direction: column;
  background-color: black;
  gap: 40px;
  padding: 80px 20px;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: url(./images/scale.svg);
  background-position: bottom;
  background-repeat: no-repeat;
}
.stats h3 {
  color: var(--light);
  font-size: 3rem;
  font-weight: 100;
}
.stats p {
  color: var(--light);
}
hr {
  background-color: var(--light);
  border: none;
  height: 1px;
  margin-block: 10px;
}

/* ********************************** */
/* PROJECTS SECTION */
.projects {
  padding: 80px 20px;
}
.projects .projects-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 35px;
  margin-top: 40px;
}
.projects .project {
  max-width: 48%;
}
.projects .project div {
  overflow: hidden;
  margin-bottom: 10px;
}
.projects .project div img {
  display: block;
  width: 100%;
  transition: all 500ms ease-out;
}
.projects .project:hover div img {
  transform: scale(1.1);
}
.projects .project h3 {
  font-size: 1.2rem;
}
.projects .project p {
  font-size: 0.9rem;
  line-height: 1.4;
}

/* ********************************** */
/* CTA SECTION */
.cta {
  height: 60vh;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-image: url(./images/scale.svg),
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url(./images/cta-background-image.png);
  background-position: bottom, center;
  background-size: auto, cover;
  background-repeat: no-repeat;
}
.cta p {
  color: var(--light);
  font-size: 1.3rem;
  font-weight: 200;
  max-width: 75%;
  line-height: 1.4;
}
.cta a {
  color: var(--light);
  border-color: var(--light);
}

/* ********************************** */
/* BLOGS SECTION */
.blogs {
  padding: 80px 20px;
}
.blogs .blog-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 55px;
  margin-top: 40px;
}
.blogs .blog div {
  overflow: hidden;
}
.blogs .blog div img {
  display: block;
  width: 100%;
  transition: all 500ms ease-out;
}
.blogs .blog:hover div img {
  transform: scale(1.1);
}
.blogs .blog p {
  font-size: 0.9rem;
  line-height: 1.4;
  padding-block: 10px;
}
.blogs .blog h3 {
  font-size: 1rem;
  font-weight: 600;
}

/* ********************************** */
/* NEWSLETTER SECTION */
.newsletter {
  /* height: 80vh; */
  padding: 130px 20px;
  background-color: black;
  background-image: url(./images/scale.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto;
}
.newsletter .newsletter-left h3 {
  color: var(--light);
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 30px;
}
.newsletter .newsletter-left form {
  display: flex;
  flex-direction: column;
  width: 50%;
  max-width: 450px;
}
.newsletter .newsletter-left #email {
  font-family: Inter-VariableFont;
  font-size: 1rem;
  background-color: transparent;
  color: var(--light);
  outline: none;
  border: none;
  border-bottom: 1px solid var(--light);
  padding-block: 10px;
  margin-bottom: 20px;
}
.newsletter .newsletter-left #email::placeholder {
  color: var(--light);
  font-family: Inter-VariableFont;
  font-size: 1rem;
  opacity: 1;
}
.newsletter .newsletter-left button {
  font-family: Inter-VariableFont;
  font-size: 1rem;
  color: var(--light);
  background-color: transparent;
  border: 1px solid var(--light);
  cursor: pointer;
  align-self: flex-end;
}
.newsletter .newsletter-right {
  display: none;
}

/* ********************************** */
/* FOOTER SECTION */
footer {
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 80px;
  position: relative;
}
footer .footer-left p {
  padding-block: 40px;
  font-size: 1.2rem;
}
footer .footer-right {
  /* width: 35%; */
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  column-gap: 30px;
  font-size: 90%;
}
footer .footer-right div ul {
  list-style: none;
}
footer .footer-right div ul li {
  line-height: 2;
}
footer .footer-right div ul li a {
  color: var(--dark);
}
footer .footer-right div ul li a:hover {
  text-decoration: underline;
}

footer .credits {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  color: var(--gray);
}
footer .credits a {
  color: var(--gray);
}
footer .credits a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  header .checkbox,
  header .hamburger-lines {
    display: none;
  }

  header .main-nav {
    transform: translateX(0);
  }
  header input[type="checkbox"]:checked ~ .main-nav {
    transform: translateX(0);
    position: static;
    width: auto;
    background-color: transparent;
  }
  header .main-nav ul {
    display: flex;
    list-style: none;
    gap: 40px;
    font-size: 90%;
  }
  header input[type="checkbox"]:checked ~ .main-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 40px;
    font-size: 90%;
  }

  /* HERO SECTION */
  .hero-section {
    flex-direction: row;
    max-width: 100%;
  }
  .hero-section .hero-left {
    text-align: left;
    padding-top: 120px;
    padding-inline: 20px;
  }
  .hero-section .hero-left h1 {
    font-size: 4rem;
  }
  .hero-section .hero-left h2 {
    font-size: 4rem;
  }
  .hero-section .hero-right {
    max-width: 50%;
  }

  /* SERVICES SECTION */
  .services .services-wrapper {
    display: flex;
    gap: 15px;
  }

  /* STATS SECTION */
  .stats {
    flex-direction: row;
  }
  .stats h3 {
    font-size: 4rem;
  }

  /* CTA SECTION */
  .cta {
    flex-direction: row;
    justify-content: space-around;
  }
  .cta p {
    text-align: left;
    font-size: 2.5rem;
    max-width: 65%;
  }

  /* BLOGS SECTION */
  .blogs .blog-wrapper {
    flex-direction: row;
    column-gap: 15px;
  }

  /* NEWSLETTER SECTION */
  .newsletter {
    display: flex;
    align-items: center;
    padding-block: 0;
    overflow: hidden;
  }
  .newsletter .newsletter-right {
    display: block;
    max-width: 35%;
    max-height: 80vh;
  }
  .newsletter .newsletter-righ img {
    display: block;
    max-width: 100%;
  }

  /* FOOTER SECTION */
  footer {
    flex-direction: row;
  }
  footer .footer-left {
    width: 65%;
  }
  footer .footer-left p {
    max-width: 50%;
  }
  footer .footer-right {
    width: 50%;
    justify-content: space-evenly;
  }
}
